{{extend 'navbar.html'}}
	<link rel="stylesheet" href="{{=URL('static','css/cart.css')}}"/>
	<script src={{=URL('static','js/cart.js')}}></script>
	
{{block head}}
{{end}}
	
	<div class="cart"> 
		<div class="cart container">
			<table>
				<tr>
					<th class="item">Item</th>
					<th class="price">Price</th>
				</tr>
				
				<tr>
					<td class="item">test_1</th>
					<td class="price">$100.00</th>
				</tr>
				
				<tr>
					<th class="item"></th>
					<th class="price">Total: $100.00</th>
				</tr>
			</table>
		</div>
		
		<div class="footer">
			<h3>Copyright @2018</h3>
		</div>
	</div>

	<div class="center">
		<div class="btn test" href="{{=URL('default', 'add_item', args=[1, 'woow'])}}">create test item</div>
		<div class="btn test" onClick="retrieveOrder()">retrieve cookies</div>
		<div class="btn test" onClick="clearListCookies()">delete cookies</div>
	</div>
	<!-- Cart should display all current orders stored on the local machine via cookies 
		Total price should then be calculated then displayed on the bottom
		At the bottom, there will be a checkout button which links to the checkout -->
	<!-- After checkout, order data should be uploaded to the database in order to store
		past orders -->