{{extend 'navbar.html'}}
	<link rel="stylesheet" href="{{=URL('static','css/cart.css')}}"/>
	<script src="{{=URL('static','js/vue.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand&effect=outline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	
{{block head}}
{{end}}
	<div id="vue-div" style="display:none">
	
	<div class="cart"> 
		<div class="cart container">
			<table>
				<tr>
					<th class="item_title">Item</th>
					<th class="price">Price</th>
				</tr>
				
				<tr v-for="order in cart" class="order_row">
					<td class="item_cell">
						<div class="item"> ${order.name}
							<button class="add_comment_btn" v-if="!order.is_comment" v-on:click="add_comment(order)">
								Add Comment
							</button>						
						</div>
						<i class="fa fa-times-rectangle fa-2x cancel_btn" v-on:click="remove_order(order)"></i>
						<div class="comment_container" v-if="order.is_comment">
							<div> 
								Comment: 
								<button class="cancel_comment_btn" v-on:click="delete_comment(order)">Delete Comment</button>
							</div>
							
							<textarea type="text" v-model="order.comment" class="comment_input" v-on:blur="save_comment(order)"> 
							</textarea>
						</div>
						
						
					</td>
					
					<td class="price">$${order.price}</td>
				</tr>
				
				<tr>
					<th class="item_cell"></th>
					<th class="price">Total: $${cart_total}</th>
				</tr>
			</table>
			
			<button class="checkout_btn">Checkout <i class="fa fa-check-square check_icon"></i></button>
			
			<div class="empty_cart message" v-if="cart.length == 0">
				Your cart is empty! Go to the menu to add items to your cart.
			</div>
		</div>
		
		<div class="btn test" v-on:click="create_test_order">
			Create New Random Order
		</div>
		
	</div>
	
	</div>
	
	<script src="{{=URL('static', 'js/default_cart.js')}}"></script>

	<!-- Cart should display all current orders stored on the local machine via localStorage 
		Total price should then be calculated then displayed on the bottom
		At the bottom, there will be a checkout button which links to the checkout -->
	<!-- After checkout, order data should be uploaded to the database in order to store
		past orders -->