{{extend 'navbar.html'}}
    <title>Checkout</title>
    <link rel="stylesheet" href="{{=URL('static','css/account.css')}}"/>
    <link rel="stylesheet"  href="{{=URL('static', 'css/checkout.css')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <script src="{{=URL('static','js/account.js')}}"></script>
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
        var save_order_url = "{{=URL('api', 'save_order')}}"
    </script>
{{block head}}
{{end}}


    <!--
    Color Palette
    http://paletton.com/#uid=30v0u0kbJgs6Kqq9Jlgg2c7lHap
    Brown: 836953
    Blue: 3B4358
    Green: 416743
    -->

<div class="checkout-list container">
    <h1 class="checkout-title">Checkout</h1>

    <div id="vue-div" class="display:none border-v">
        <!-- Meat of the page -->
        <div v-if="cart.length > 0">
            <table class="cart_total">
                <tr>
                    <th class="cart_total_header">
                        <h2>Cart Total:</h2>
                    </th>
                    <th class="cart_total_value">
                        <h2>$${cart_total}</h2>
                    </th>
                </tr>
                <tr>
                    <td><h3>Payment Options:</h3></td>
                    <td>
                        <button class="meal_plan"><i class="fa fa-lg fa-id-card"></i></button>
                        <button class="meal_plan" v-on:click="pay()"><i class="fa fa-lg fa-credit-card"></i></button>
                        <button class="meal_plan"><i class="fa fa-lg fa-money-bill"></i></button>
                    </td>
                </tr>
            </table>

            <div class="options">
                <button class="save_order" v-if="show_save_order_btn" v-on:click="toggle_save_order">
                    <i class="fa fa-lg fa-save"> Order</i>
                </button>
                <input v-if="is_saving_order" v-model="saved_order_name" placeholder="Order Name" type="text">
                <button class="save_order" v-if="!show_save_order_btn" v-on:click="toggle_save_order"><i class="fa fa-lg fa-times-circle"></i></button>
                <button class="save_order" v-if="!show_save_order_btn" v-on:click="upload_saved_order"><i class="fa fa-lg fa-plus"></i></button>
            </div>
        </div>
        <div class="cart_items">
            <!--
            <table>
                <tr><th>Item</th><th>Price</th></tr>
                <tr v-for="item in cart">${item}</tr>
            </table>
            -->
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_checkout.js')}}"></script>