{{extend 'navbar.html'}}
    <title>Checkout</title>
    <link rel="stylesheet" href="{{=URL('static','css/account.css')}}"/>
    <link rel="stylesheet"  href="{{=URL('static', 'css/checkout.css')}}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <script src="{{=URL('static','js/account.js')}}"></script>
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
        var save_order_url = "{{=URL('api', 'save_order', user_signature=True)}}"
        var check_logged_in_url = "{{=URL('api', 'check_logged_in')}}"
        var purchase_url = "{{=URL('api', 'purchase', user_signature=True)}}"
        var upload_saved_order_url = "{{=URL('api', 'upload_saved_order', user_signature=True)}}"
        var get_order_url = "{{=URL('api', 'get_order', user_signature=True)}}"
    </script>
{{block head}}
{{end}}


    <!--
    Color Palette
    http://paletton.com/#uid=30v0u0kbJgs6Kqq9Jlgg2c7lHap
    Brown: 836953
    Blue: 3B4358
    Green: 416743
    -->

<div class="checkout_list">
    <div id="vue-div" class="display:none border_v">
        <!-- Meat of the page -->
        <!-- Checkout title text -->
        <h1 v-if="!order_placed" class="checkout_title">Checkout</h1>
        <!-- Order placed text -->
        <h1 v-if="order_placed" class="checkout_title yellow">Order Placed!</h1>
        <div v-if="cart.length > 0">
            <div v-if="is_open">
                <!-- Holds payment options -->
                <table v-if="!order_placed" class="cart_payment">
                    <tr>
                        <td><h4>Payment Options:</h4></td>
                        <td>
                            <!-- Stripe payment button -->
                            <button class="payment_method" v-on:click="pay()" title="Credit Card"><i class="fa fa-lg fa-credit-card"></i></button>
                            <!-- The Meals and Flexis buttons toggle icons when they are clicked and when the mouse leaves the button -->
                            <!-- Meals button -->
                            <button v-if="is_logged_in" id="not_available" v-on:click="show_meals=false, show_coming_soon_icon=true" @mouseleave="show_meals=true, show_coming_soon_icon=false" class="payment_method" title="Meals (Coming Soon)">
                                <!-- Binds classes to bool vars in order to toggle icons -->
                                <i v-bind:class="{'fa fa-lg fa-id-card':show_meals, 'fa fa-lg fa-cogs':show_coming_soon_icon}"></i>
                            </button>
                            <!-- Flexis button -->
                            <button v-if="is_logged_in" id="not_available" v-on:click="show_meals=false, show_coming_soon_icon=true" @mouseleave="show_meals=true, show_coming_soon_icon=false" class="payment_method" title="Flexis (Coming Soon)">
                                <!-- Binds classes to bool vars in order to toggle icons -->
                                <i v-bind:class="{'fa fa-lg fa-money-bill-wave':show_meals, 'fa fa-lg fa-cogs':show_coming_soon_icon}"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Conditional messages -->
            <!-- Closed -->
            <h3 v-if="!is_open" class="closed_msg red">Sorry, we're closed!</h3>
            <!-- Order Placed -->
            <h4 v-if="order_placed" class="wait_time">Estimated wait time: <b>${est_wait_time} minutes</b></h4>
            <!-- Holds cart total -->
            <table class="cart_total">
                <tr>
                    <th class="cart_total_header">
                        <h3>Cart Total . . . . . . . . . . . . . . </h3>
                    </th>
                    <th class="cart_total_value">
                        <h3><span class="total_value">$${cart_total}</span> . . . . . . . . . . . . . .</h3>
                    </th>
                </tr>
            </table>
            <!-- Review Order section -->
            <h3 class="review_order_title">Review Order</h3>
            <div class="review_order_container" style="overflow-y:scroll">
                    <table class="review_order">
                        <tr v-for="item in cart">
                            <td>${item.name}<span v-if="item.is_comment"> *</span> . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . </td>
                            <td id="review_price">$${item.price} . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</td>
                        </tr>
                    </table>
            </div>
            <!-- Save order section -->
            <div v-if="is_logged_in" class="options">
                <div>
                    <div v-if="!order_saved">
                        <!-- Save order button -->
                        <button class="save_order" v-if="show_save_order_btn" title="Save Order" v-on:click="toggle_save_order">
                            <i class="fa fa-lg fa-save"></i>
                        </button>
                        <!-- Order name input -->
                        <input id="save_order_input_box" v-if="is_saving_order" v-model="saved_order_name" placeholder="Order Name" type="text">
                        <!-- Cancel and Save buttons -->
                        <button id="cancel_name_input_btn" class="save_order" v-if="!show_save_order_btn" v-on:click="toggle_save_order"><i class="fa fa-lg fa-times-circle"></i></button>
                        <button id="save_name_input_btn" class="save_order" v-if="!show_save_order_btn" v-on:click="upload_saved_order"><i class="fa fa-lg fa-plus"></i></button>
                    </div>
                    <div v-if="order_saved" class="order_saved_msg">
                        Order <span style="color: yellow">${saved_order_name}</span> Saved  <i v-if="order_saved" class="fa fa-lg fa-check-circle order_saved_msg"></i>
                    </div>
                </div>
            </div>
            <!-- Tells user to log in to be able to use special features -->
            <div v-else class="log_in_msg">
                <a href="{{=URL('default','user/login')}}" title="Log in screen">Log in</a> to save orders and use meal plan/flexis
            </div>
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_checkout.js')}}"></script>