{{extend 'navbar.html'}}
    <title>Checkout</title>
    <link rel="stylesheet" href="{{=URL('static','css/account.css')}}"/>
    <link rel="stylesheet"  href="{{=URL('static', 'css/checkout.css')}}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <script src="{{=URL('static','js/account.js')}}"></script>
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
        var save_order_url = "{{=URL('api', 'save_order', user_signature=True)}}"
        var check_logged_in_url = "{{=URL('api', 'check_logged_in')}}"
        var purchase_url = "{{=URL('api', 'purchase', user_signature=True)}}"
        var upload_saved_order_url = "{{=URL('api', 'upload_saved_order', user_signature=True)}}"
        var get_order_url = "{{=URL('api', 'get_order', user_signature=True)}}"
    </script>
{{block head}}
{{end}}


    <!--
    Color Palette
    http://paletton.com/#uid=30v0u0kbJgs6Kqq9Jlgg2c7lHap
    Brown: 836953
    Blue: 3B4358
    Green: 416743
    -->

<div class="checkout-list">
    <h1 class="checkout-title">Checkout</h1>

    <div id="vue-div" class="display:none border-v">
        <!-- Meat of the page -->
        <div v-if="cart.length > 0">
            <table v-if="!order_placed" class="cart_payment">
                <tr>
                    <td><h3>Payment Options:</h3></td>
                    <td>
                        <button class="payment_method" v-on:click="pay()" title="Credit Card"><i class="fa fa-lg fa-credit-card"></i></button>
                        <span v-if="!show_msg_bool">
                            <button v-if="is_logged_in" v-on:click="show_msg_bool=!show_msg_bool" class="payment_method" title="Meals"><i class="fa fa-lg fa-id-card"></i></button>
                            <button v-if="is_logged_in" v-on:click="show_msg_bool=!show_msg_bool" class="payment_method" v-on:click="show_meal_plan_msg=!show_meal_plan_msg" title="Flexis"><i class="fa fa-lg fa-money-bill-wave"></i></button>
                        </span>
                        <span v-else class="coming_soon_text">Coming Soon</span>
                    </td>
                </tr>
            </table>
            <h1 v-else class="order_placed">Order Placed!</h1>
            <h3 v-if="order_placed" class="wait_time">Estimated wait time: <b>10 minutes</b></h3>
            <table class="cart_total">
                <tr>
                    <th class="cart_total_header">
                        <h2>Cart Total . . . . . . . . . . . . . . </h2>
                    </th>
                    <th class="cart_total_value">
                        <h2><span class="total_value">$${cart_total}</span> . . . . . . . . . . . . . .</h2>
                    </th>
                </tr>
            </table>
            <h2 class="review_order_title">Review Order</h2>
            <div class="review_order_container" style="overflow-y:scroll">
                    <table class="review_order">
                        <tr v-for="item in cart">
                            <td id="review_name">${item.name}<span v-if="item.is_comment"> *</span> . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . </td>
                            <td id="review_price">$${item.price} . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</td>
                        </tr>
                    </table>

            </div>

            <div v-if="is_logged_in" class="options">
                <div>
                    <div v-if="!order_saved">
                        <button class="save_order" v-if="show_save_order_btn" v-on:click="toggle_save_order">
                            <i class="fa fa-lg fa-save"></i>
                        </button>
                        <input v-if="is_saving_order" v-model="saved_order_name" placeholder="Order Name" type="text">
                        <button class="save_order" v-if="!show_save_order_btn" v-on:click="toggle_save_order"><i class="fa fa-lg fa-times-circle"></i></button>
                        <button class="save_order" v-if="!show_save_order_btn" v-on:click="upload_saved_order"><i class="fa fa-lg fa-plus"></i></button>
                    </div>
                    <div v-if="order_saved" class="fa fa-lg">
                        Order <span style="color: yellow">${saved_order_name}</span> Saved  <i v-if="order_saved" class="fa fa-lg fa-check-circle order_saved_msg"></i>
                    </div>
                </div>
            </div>
            <div v-else class="log_in_msg">
                <a href="{{=URL('default','user/login')}}"><b>Log in</b></a> to save orders and use meal plan/flexis
            </div>
        </div>
        <div class="cart_items">
            <!--
            <table>
                <tr><th>Item</th><th>Price</th></tr>
                <tr v-for="item in cart">${item}</tr>
            </table>
            -->
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_checkout.js')}}"></script>