{{extend 'navbar.html'}}
    <link rel="stylesheet" href="{{=URL('static','css/account.css')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src={{=URL('static','js/account.js')}}></script>
{{block head}}
{{end}}
    <body>
        <!--
        Color Palette
        http://paletton.com/#uid=30v0u0kbJgs6Kqq9Jlgg2c7lHap
        Brown: 836953
        Blue: 3B4358
        Green: 416743
        -->
       

                <div class="media">
                    <div class="album">
                        <img class="album-image" src=""/>
                        <img class="album-image" src=""/>
                        <img class="album-image" src=""/>
                        <img class="album-image" src=""/>
                    </div>
                </div>
                <div class="info">
                    <div class="hours">
                        <h1 class="center">Hours</h1>
                        <table>
                            <tr>
                                <th>Day</th>
                                <th>Hours</th>
                            </tr>
                            <tr>
                                <td>Monday</td>
                                <td>10AM - 11PM</td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td>10AM - 11PM</td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td>10AM - 11PM</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>10AM - 11PM</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>10AM - 3PM</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>Closed</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td>Closed</td>
                            </tr>
                        </table>
                    </div>
                    <div class="location">
                        <h1 class="center">Location</h1>
                        <div class="map">
                            work on getting google maps embedded
                        </div>
                    </div>
                    <div class="misc">
                        <h1 class="center">Info</h1>
                        <p>Located near the Crown College fountain this cafe and convenience store has everything you
                        need all in one place. Banana Joe's also coordinates the UCSC online grocery. Cash, credit
                        cards, flexi dollars, and meal equivalencies accepted.<br/><i class="fa fa-phone"></i> (831)
                        459-1445<br><br>Managed by UCSC Dining</p>
                    </div>
                </div>
                <div class="faq">
                    <h1 class="center">FAQ</h1>
                    <hr class="lightgrey"/>
                    <div class="question">Question</div>
                    <div class="answer">Answer</div>
                </div>
            </div>
        </div>
    </body>
</html>

