{{extend 'navbar.html'}}
    <link rel="stylesheet" href="{{=URL('static','css/account.css')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand&effect=outline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">


    <script src={{=URL('static','js/account.js')}}></script>
{{block head}}
{{end}}

<div class="menu_page">
    <img class="topimg" src="{{=URL('static','images/banana-joes-740.jpg')}}">
        <h1 class="menutitle">Menu</h1>
    <!-- Categories: -->
    {{cate = ["Street Food", "Flatbread & Salads", "Grill", "Panini", "Fried", "Smoothies"]}}
    {{for i in cate:}}
    <div class="menusection">
            <h3>{{=i}}</h3>
    </div>
    {{for menu in db(db.menuItems.category == i).select():}}
    <div style="display: inline-block">
        <ul class="sectiongrp">
            <ul class="sglitem">
                <a onclick="openView({{=menu.id}})" href="#1" id="myhref" class="qvbtn">
                    <img  class="qvbutton" src="{{=URL('static','images/drink1.jpg')}}">
                    <div class="itmname">{{=menu.name}}</div>
                </a>
                <div id="quickview{{=menu.id}}" class="qvback">
                    <div class="qv">
                        <div class="qvimg"><img src="{{=URL('static','images/drink1.jpg')}}" ></div>
                        <div class="qvcontent">
                            <div class="itmttl"><h1>{{=menu.name}}</h1></div>
                            <div class="qvcontentdis">{{=menu.description}}<div class="ingsty">
                                <p>Ingredients: {{=menu.ingredients}}</p>
                            </div></div>
                            <div class="allsym">
                                <img src="{{=URL('static', 'images/eggs.jpg')}}" class="allpic">
                                <img src="{{=URL('static', 'images/fish.jpg')}}" class="allpic">
                            </div>
                            <div class="qty"><button class="custom" onclick="viewBack({{=menu.id}})" id="cust">
                                Customize</button>
                            </div>
                        </div>
                        <span onclick="closeView({{=menu.id}})" class="close">&times;</span>
                    </div>
                </div>
                <div id="custorder{{=menu.id}}" class="qvback">
                    <div class="inglist">
                        <form action="/action_page.php" method="get">
                            <div class="listitems">
                                <input type="checkbox" name="ingredient" value="Milk" checked> Milk<br>
                                <input type="checkbox" name="ingredient" value="Sugar" checked> Sugar<br>
                                <input type="checkbox" name="ingredient" value="Cream" checked> Cream<br>
                                <input type="checkbox" name="ingredient" value="Corn" checked> Corn<br>
                            </div>
                            <input type="submit" class="atc" value="Add to Cart">
                        </form>
                        <span onclick="closeBack({{=menu.id}})" class="back">&hookleftarrow;</span>
                    </div>
                </div>
            </ul>
        </ul>
    </div>
    {{pass}}
    {{pass}}
</div>

<script>

window.onclick = function(event) {
    console.log(event.target);
};

openView = function(id) {
    var link = 'quickview' + id;
    document.getElementById(link).style.display = "block";
    document.getElementById(link).onclick = function(event) {
        if (event.target == document.getElementById(link)) {
            document.getElementById(link).style.display = "none";
        }
    }
};

closeView = function(id) {
    var link = 'quickview' + id;
    document.getElementById(link).style.display = "none";
};

viewBack = function(id) {
    var link = 'custorder' + id;
    var temp = 'quickview' + id;
    document.getElementById(temp).style.display = "none";
    document.getElementById(link).style.display = "block";
    document.getElementById(link).onclick = function(event) {
        if (event.target == document.getElementById(link)) {
            document.getElementById(link).style.display = "none";
        }
    }
};

closeBack = function(id) {
    var link = 'custorder' + id;
    var temp = 'quickview' + id;
    document.getElementById(link).style.display = "none";
    document.getElementById(temp).style.display = "block";
};

// var modal = document.getElementById('quickview');
// var link = document.getElementById("myhref");
// var span = document.getElementsByClassName("close")[0];
// var span2 = document.getElementsByClassName("back")[0];
// var custom = document.getElementById("custorder");
// var custbtn = document.getElementById("cust");

// link.onclick = function() {
//     modal.style.display = "block";
// }

// span.onclick = function() {
//     modal.style.display = "none";
// }

// span2.onclick = function() {
//     custom.style.display = "none";
//     modal.style.display = "block";
// }

// window.onclick = function(event) {
//     if (event.target == modal || event.target == custom) {
//         modal.style.display = "none";
//         custom.style.display = "none";
//     }
// }
//
// custbtn.onclick = function () {
//     custom.style.display = "block";
//     modal.style.display = "none";
// }

</script>
