{{extend 'navbar.html'}}
    <link rel="stylesheet" href="{{=URL('static','css/account.css')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand&effect=outline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">


    <script src={{=URL('static','js/account.js')}}></script>
{{block head}}
{{end}}




    <div>
        <img class="topimg" src="{{=URL('static','images/banana-joes-740.jpg')}}">
    </div>
    <div class="menutitle">
        <h1>Menu</h1>
    </div>
    <div class="row menusection">
            <p>Beverages</p>
    </div>
    <div>
        <ul class="sectiongrp">
            <ul class="sglitem">
                <a href="#1" id="myhref" class="qvbtn">
                    <img  class="qvbutton" src="{{=URL('static','images/drink1.jpg')}}">
                    <div class="itmname">
                        Chocolate Shake
                    </div>
                </a>
                <div id="quickview" class="qvback">
                    <div class="qv">
                        <div class="qvimg">
                            <img src="{{=URL('static','images/drink1.jpg')}}" >
                        </div>
                        <div class="qvcontent">
                                <div class="itmttl">
                                    <h1>Chocolate Shake</h1>
                                </div>
                            <div class="qvcontentdis">
                                Chocolate Shake featuring our deliciously creamy vanilla soft serve and chocolate syrup,
                                   topped with whipped topping. Available in Small, Medium, and Large.
                                <div class="ingsty">
                                    <p>Ingredients: Milk, Sugar, Cream, Corn Syrup, Natural Flavor, Mono and Diglycerides,
                                        Cellulose Gum, Guar Gum, Carrageenan, Vitamin A Palmitate.</p>
                                </div>
                            </div>
                            <div class="allsym">
                                <img src="{{=URL('static', 'images/eggs.jpg')}}" class="allpic">
                                <img src="{{=URL('static', 'images/fish.jpg')}}" class="allpic">

                            </div>
                            <div class="qty">
                                <button  class="custom" id="cust">Customize</button>
                            </div>
                        </div>
                        <span class="close">&times;</span>
                    </div>
                </div>
                <div id="custorder" class="qvback">
                    <div class="inglist">
                        <form action="/action_page.php" method="get">
                            <div class="listitems">
                                <input type="checkbox" name="ingredient" value="Milk" checked> Milk<br>
                                <input type="checkbox" name="ingriedient" value="Sugar" checked> Sugar<br>
                                <input type="checkbox" name="ingredient" value="Cream" checked> Cream<br>
                                <input type="checkbox" name="ingriedient" value="Corn" checked> Corn<br>
                            </div>
                            <input type="submit" class="atc" value="Add to Cart">
                        </form>
                        <span class="back">&hookleftarrow;</span>
                    </div>

                </div>
            </ul>
            <ul class="sglitem">
                <a href="#2" id="myhref" class="qvbtn">
                    <img  class="qvbutton" src="{{=URL('static','images/drink2.jpg')}}">
                    <div class="itmname">
                        Strawberry Shake
                    </div>
                </a>
                <div id="quickview" class="qvback">
                    <div class="qv">
                        <div class="qvimg">
                            <img src="{{=URL('static','images/drink2.jpg')}}" >
                        </div>
                        <div class="qvcontent">
                            <div class="itmttl">
                                <h1>Strawberry Shake</h1>
                            </div>
                            <p>Strawberry Shake made with creamy vanilla soft serve, blended with strawberry flavored
                                deliciousness, topped with whipped topping. Available in Small, Medium, and Large.
                            </p>
                            <div class="ingsty">
                                <p>Ingredients: Milk, Sugar, Cream, Corn Syrup, Natural Flavor, Mono and Diglycerides,
                                    Cellulose Gum, Guar Gum, Carrageenan, Vitamin A Palmitate,more stuff
                                    and some more stuff.</p>
                            </div>
                            <div class="allsym">
                                <img src="{{=URL('static', 'images/pork.jpg')}}" class="allpic">
                                <img src="{{=URL('static', 'images/fish.jpg')}}" class="allpic">

                            </div>
                            <div class="qty">
                                <button class="custom">Personalize</button>
                                <!--<form action="http://127.0.0.1:8000/bjs/default/checkout">
                                    <input type="button" class="qtybutn" value="+">
                                    <input id="number" type="number" value="1" class="nmbx">
                                    <!--<input type="button" class="qtybutn" value="-">
                                    <input type="submit" value="Customize" class="atc">
                                </form>-->
                            </div>
                        </div>
                        <span class="close">&times;</span>
                    </div>
                </div>
            </ul>
        </ul>
    </div>

    <div class="row menusection">
            <p>Sandwiches</p>
    </div>
    <ul class="sectiongrp">
            <ul class="sglitem">
                <a href="#1" id="myhref" class="qvbtn">
                    <img  class="qvbutton" src="{{=URL('static','images/drink1.jpg')}}">
                    <div class="itmname">
                        Chocolate Shake
                    </div>
                </a>
                <div id="quickview" class="qvback">
                    <div class="qv">
                        <div class="qvimg">
                            <img src="{{=URL('static','images/drink1.jpg')}}" >
                        </div>
                        <div class="qvcontent">
                            <div class="itmttl">
                                <h1>Chocolate Shake</h1>
                            </div>
                            <p>Chocolate Shake featuring our deliciously creamy vanilla soft serve and chocolate syrup,
                               topped with whipped topping. Available in Small, Medium, and Large.</p>
                            <div class="ingsty">
                                <p>Ingredients: Milk, Sugar, Cream, Corn Syrup, Natural Flavor, Mono and Diglycerides,
                                    Cellulose Gum, Guar Gum, Carrageenan, Vitamin A Palmitate.</p>
                            </div>
                            <div class="allsym">
                                <img src="{{=URL('static', 'images/eggs.jpg')}}" class="allpic">
                                <img src="{{=URL('static', 'images/fish.jpg')}}" class="allpic">

                            </div>

                                <button  class="custom" id="cust">Customize</button>
                                    <div id="custorder" class="qvback">
                                        <div class="qv">
                                            <p>plewgis</p>
                                        </div>
                                    </div>
                                <!--<form action="http://127.0.0.1:8000/bjs/default/checkout">
                                    <input type="button" class="qtybutn" value="+">
                                    <input id="number" type="number" value="1" class="nmbx">
                                    <!--<input type="button" class="qtybutn" value="-">
                                    <input type="submit" value="Customize" class="atc">
                                </form>-->

                        </div>
                        <span class="close">&times;</span>
                    </div>
                </div>
            </ul>
    </ul>


<script>
var modal = document.getElementById('quickview');
var link = document.getElementById("myhref");
var span = document.getElementsByClassName("close")[0];
var span2 = document.getElementsByClassName("back")[0];
var custom = document.getElementById("custorder");
var custbtn = document.getElementById("cust");

link.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

span2.onclick = function() {
    custom.style.display = "none";
    modal.style.display = "block";
}

window.onclick = function(event) {
    if (event.target == modal || event.target == custom) {
        modal.style.display = "none";
        custom.style.display = "none";
    }
}

custbtn.onclick = function () {
    custom.style.display = "block";
    modal.style.display = "none";
}

</script>
