.btn.test{
	margin:20px;
	background-color:gray;
	width:300px;
	height:50px;
}

.cart{
	width:100%;
}

.cart.container{
	background-color:#e6e6e6;
	width:1000px;
	min-height:700px;
	margin: 0 auto;
	margin-top: 25px;
	border-radius:10px;
	padding: 8px;
}

.item{
	padding:8px 0px 8px 8px;
	width:800px;
	text-align: left;
	border-bottom: 1px solid #262626;
	border-right: 1px solid #b3b3b3;
	font-size: 20px;
}

.cancel_btn{
	float:right;
	margin-right: 15px;
}

.cancel_btn:hover{
	color:#e22828;
}

.order_row:hover{
	background-color: #fff8d6;
}

.price{
	padding:8px 0px 8px 8px;
	width:200px;
	text-align: left;
	border-bottom: 1px solid #262626;
	font-size: 20px;
}

.checkout_btn{
	background-color:darkgray;
	font-size:30px;
	width:195px;
	margin:15px;
	margin-bottom:10px;
	margin-left: 79%;
}

.checkout_btn:hover{
	background-color:green;
}

.check_icon:hover{
	color:black;
}

.footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	text-align:center;
	padding-top:15px;
	background-color:transparent;
}