/* CSS Built for large screens, 900px or larger */

body {
    font-family: "Roboto",sans-serif;
    background-color: white;
    transition-duration: 1s;
}
.pointer {cursor: pointer; !important}
.center {text-align: center; !important}
.lightGrey {color: #C4C4C4; !important}

#container {
    transition-duration: 1s;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.top {
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #1D1D21;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top>.top-title {
    position: relative;
    top: 20%;
    margin: 0 0 0 100px;
    width: 0;
    white-space: nowrap;
}
.top-title>.title {
    font-size: 4em;
    color: #FFFF00;
}
.top>.menu-bars {
    position: relative;
    top: 30%;
    margin: 0 20px 0 20px;
    float: left;
}
.top>.cart, .top>.account {
    position: relative;
    top: 25%;
    margin: 0 5% 0 0 ;
    float: right;
    transition-duration: .3s;
}

.top>.cart:hover, .top>.account:hover {
    color: #003D6E;
}

.main {
    position: absolute;
    margin: 0 0 0 0;
    color: #3D3D44;
}

.checkout-list {
    background-image: url("../images/BJsChecklistPatch.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 400px;
    min-height: 700px;
    position: center;
    margin-top: 20px;
    padding: 20px;
}

.checkout-list>.checkout-title {
    color: white;
    font-family: "Shrikhand", cursive;
    margin-top: 40px;
}

.checkout-list>.checkout-columns {
    color: white;
    font-family: "Shrikhand", cursive;
    margin-top: 40px;
}

.media {
    width: 100%;
    /*background-color: grey;*/
    padding: 30px 0 60px 0;
    background-color: #E0E0E0;
}
.media>.album {
    margin: 20px auto 20px auto;
    width: 60%;
    height: 500px;
    background-color: black;
}

.info {
    position: relative;
    top: 0px;
    width: 100%;
    padding: 30px 0 50px 0;
    margin: 0 auto 0 auto;
    background-color: #545454;
    color: white;
}
.info>.hours, .info>.location, .info>.misc {
    position: relative;
    top: 0px;
    vertical-align: top;
    width: 33%;
    height: 400px;
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 10px;
}
.info>.hours {
}
.info>.hours table {
    margin: 0 auto 0 auto;
}
.info>.hours table tr {
    border-bottom: 1px solid #C4C4C4;
}
.info>.hours table td {
    padding: 10px 25px 10px 0;
}
.info>.location {
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
}
.hours h1, .location h1, .misc h1, .faq h1 {
    font-family: "Yesteryear", cursive;
    color: #0EAFAD;
}

/*
https://www.labnol.org/internet/embed-responsive-google-maps/28333/
 */
.map {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.info>.location .map {
    max-width: 100%;
}
.info>.misc {
}
.info>.misc p {
    padding: 0;
    margin: 0 auto 0 auto;
}
.faq-container {
    background-color: #E0E0E0;
    padding: 30px 0 50px 0;
}
.faq {
    max-width: 80%;
    margin: 20px auto 0 auto;
}
.faq>.question {
    font-weight: bold;
    font-size: 1.4em;
}
.faq>.answer {
    font-style: italic;
    margin: 0 0 20px 20px;
}


