 /*start of menu*/
.menu_page>.topimg {
    width: 100%;
    max-height: 500px;
    margin: 0 0 0 0;
}

.menutitle {
    background-color: lightgray;
    color: black;
    text-align: center;
    margin: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 6em;
}

.menu_page>.menusection {
    margin: 25px 0 25px 55px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    float: top;
}

.jl {
    font-family: 'Pacifico', cursive;
    font-size: 19px;
    display: inline-block;
}

.alllinks{
    width: 100%;
    text-align: center;
}
.link_to_jump {
    color: black;
 }

.link_to_jump:hover {
    color: black;
    text-decoration: none;
}

.menusection>.menuitems{
    margin: 25px;
}



.listImage {
    width: 250px;
    display: block;
    margin: 0 auto 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.listImageInner {
    width: 400px;
}

.sectiongrp {
    width: 100%;
    margin: 0 25px 0 0;
    position: relative;
    float: left;
}

.sectiongrp:after {
  content: "";
  display: table;
  clear: both;
}

.qvback {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.7);
    z-index: 1;

}

.qv{
    width: fit-content;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: right;
}

.qvcontentdis {
    max-width: 400px;
    word-wrap: break-word;
    margin: 2px 0 0 0;
}

.qvimg {
    height:100%;
    width: auto;
    margin: auto 15px auto auto;

}

.qvcontent {
    width:auto;
    margin:auto;
    max-width: 380px;
    overflow: hidden;
}

.ingsty{
    font-size: 12px;
    font-style: italic;
}

.allsym {
    display: flex;
    padding-top: 5px;
}

.allpic {
    padding-right: 10px;
}

.itmttl{
    margin: 10px auto 10px auto
}
.exit {
    color: dimgray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.exit:hover {
    color: black;
}

.qty{
    padding: 15px 0 15px 0;
    float: right;
}

.qtybutn {
    padding: 2px 5px;
    background-color: grey;
    color: white;
    border-radius: 50%;

}

.custom{
    background-color: #0eafad;
    color: white;
    align-self: flex-end;
}

.ms:hover {
    color: #000000;
    opacity: 1;
}
.nmbx{
    width: 40px;
}

.atc:hover{
    background-color: #268e8d;
}

.listImage:hover {
    opacity: 0.7;
}

.itmname{
    padding-top: 3px;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.back{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

.atc {
    background-color: #0eafad;
    color: white;
    margin:  15px 0 0 0;
}

.atcbutton {
    position: relative;
    left: 0px;
}

.inglist {
    width: 50%;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: white;
    display: flex;
    align-content: right;
}

.listitems {
    padding-left: 25px;
}

.listImageInner {
    margin: 10px;
    border: #000000 2px solid;
}

.close {
    padding-left: 20px;
}

.menusection > a {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 5px 0;
}



.commentbox {
    margin-bottom: 3px;
}



