 /*start of menu*/
.topimg {
    width: 100%;
    max-height: 500px;
    margin: 0 0 0 0;
}

.menutitle {
    background-color: lightgray;
    color: black;
    text-align: center;
    margin: 20px;
}
.menutitle h1 {
    font-family: 'Yesteryear', cursive;
    font-size: 6em;
}
.row {
    margin-left: 78px;
    margin-top: 25px;
}

.menusection {
    font-weight: bold;
    font-family: 'Yesteryear', cursive;
    font-size: 20px;
    float: top;
}

.row>.menuitems{
    margin: 25px;
}

.sglitem {
  position: relative;
  margin: 0 0 2px;
  float: left;
}
.sglitem > img {
  display: block;
  width: 100%;
}

.sectiongrp {
  width: 100%;
  margin: 0 auto;
}
.sectiongrp:after {
  content: "";
  display: table;
  clear: both;
}

.qvback {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.7);
    z-index: 1;

}

.qv{
    width: 50%;
    height: 345px;
    margin: auto;
    padding: 20px;
    background-color: white;
    display: flex;

}

.qvcontentdis {
    overflow-y: scroll;
    max-width: 400px;
    max-height: 140px;
    word-wrap: break-word;
}

.qvimg {
    height:100%;
    width: 100%;
    horiz-align: center;
    float: left;
    padding-right: 20px;
}



.qvcontent {
    align-content: right;
    position: relative;
}

.ingsty{
    font-size: 10px;
    font-style: italic;
}

.allsym {
    display: flex;
    padding-top: 5px;
}

.allpic {
    padding-right: 10px;
}

.itmttl{
    padding: 20px 0 20px 0;
}
.exit {
    color: dimgray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.exit:hover {
    color: black;
}

.qty{
    padding: 15px 0 15px 0;
    float: right;
}

.qtybutn {
    padding: 2px 5px;
    background-color: grey;
    color: white;
    border-radius: 50%;

}

.custom{
    background-color: #0eafad;
    color: white;
    align-self: flex-end;
}

.nmbx{
    width: 40px;
}

.atc:hover{
    background-color: darkgreen;
}

.qvbutton{

}

.qvbutton:hover{
    opacity: 0.7;

}

.itmname{
    padding-top: 3px;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.back{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

.atc {
    background-color: #0eafad;
    color: white;
    margin:  15px 0 0 0;

}

.inglist {
    width: 50%;
    height: 345px;
    margin: auto;
    padding: 20px;
    background-color: white;
    display: flex;
    align-content: right;
}

.listitems {
    padding-left: 25px;
}
