nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1D1D21;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#nav-container {
    margin: 0 0 0 20px;
    visibility: hidden;

}
.menu {
    margin: 0;
    padding: 0;
}
.menu li{
    display: block;
    list-style-type: none;
}
.menu li a {
    color: white;
    text-decoration: none;
}



