:root{
	--blue:#344060;
	--green:#2e7a32;
	--yellow:#ffff33;
	--brown:#a66730;
	--charcoal:#1D1D21;
}

/* Set min width */

body{
	min-width:800px;
}

.dropdown-content p, .user_status p{

	font-size: 24px;
    font-family: "Yesteryear", cursive;

    color: #0EAFAD;
}

.navbarlink {
	font-size: 16px;
}

.navbar{
	background-color:var(--charcoal);
	height:100px;
	width:100%;
	padding:0;
}
.navbar.container{
	height:100%;
	width:100%;
	display:inline-block;
}

.btn{
	cursor: pointer; !important
}
.btn.expand:hover{
	transform:scale(1.1);
	transition-duration:.3s;
}

i:hover{
	color:yellow;
	transition-duration:.3s;
}

.navbar.logo.btn{
	margin-top:10px;
	margin-left:60px;
	height:80px;
	
	float:left;
	transition-duration:.3s;
}
.logo{
	width: 100px;
}


.menu.btn{
	float:left;
	margin-top:20px;
	margin-left:45px;
	
	background-color:black;
	color:white;
	
	padding:6px;
	width:65px;
	height:65px;
}
.menu.btn:hover{
	color:yellow;
	transition-duration:.3s;
}

.menu.btn.sidebar{
	float:left;
	margin-left:20px;
	margin-right:10px;
	
	background-color:black;
	color:white;
	
	padding:6px;
	width:210px;
	height:65px;
	transition-duration:.3s;
}
.menu.btn.sidebar:hover{
	color:yellow;
}

.sidebar.links {
    margin: 0;
    padding: 0;
}
.sidebar.links li{
    display: block;
    list-style-type: none;
}
.sidebar.links li a {
    color: white;
    text-decoration: none;
	font-size: 30px;
}
.sidebar.links li a:hover{
    color: yellow;
}

.ul.dropdown-menu{
	width: 123px;
	height: 110px;

}

.account.btn.expand{
	float:right;
	margin-top:20px;
	margin-right:45px;
	
	background-color:black;
	color:white;
	
	padding:6px;
	width:65px;
	height:65px;


}

.user_status{
	font-size: 24px;
	float:right;
	margin-top:20px;
	margin-right:45px;
	padding:6px;
	width:65px;
	height:65px;
	
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #545454;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.cart.btn.expand{
	float:right;
	margin-top:20px;
	margin-right:45px;
	
	background-color:black;
	color:white;
	
	padding:6px;
	width:65px;
	height:65px;
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--charcoal);
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar-container {
	font-size:30px;
    margin: 120px 0 0 40px;
    visibility: hidden;

}